# Server (Server ENV Variables)
PORT=<PORT-NUMBER>

# # Database (DB ENV variables)
# DB_HOST=<DB_HOST>
# DB_PORT=<DB_PORT>
# DB_USER=<DB_USER>
# DB_PASSWORD=<DB_PASSWORD>
# DB_NAME=<DB_NAME>

# # JWT secret (AUTH ENV variables)
# JWT_SECRET=<JWT_SECRET>